#wrapper{border-style: 4;width: 800px; background:white ;color: black;margin: auto }
#top1{width: 400px ;height: 50px ; background: dodgerblue;color: white; float: left}
#top2{width: 400px ; height: 50px ; background: dodgerblue; color: white;float: left}
#left1{width: 150px ; height: 170px ; background:aliceblue 	; float: left}
#left2
{
	width: 250px ; height: 170px ;background: aliceblue; float: left;
	
}
#right1{
	width: 200px ; height: 170px ; background: aliceblue; float: left;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	}
#right2{width: 200px ; height: 170px ; background: aliceblue; float: left}
#btm1{color: dimgray;width: 400px ; height: 230px ; background: aliceblue; float: left}
#btm2{width: 200px ; height: 230px ; background: aliceblue; float: left}
#btm3{width: 200px ; height: 230px ; background: aliceblue; float: right}
h1 {
	font-family: Papyrus, fantasy;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 30.4px;
	margin-top: 50px;
	margin-left: 300px;
	}
.class2
{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
.class3
{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: dodgerblue;
	margin-top: 15px;
	float: right;	
}